# Private Key (sin el prefijo 0x)
PRIVATE_KEY=0xbbdd487ce04fd1a8afbc9477b36415b20bad0a8b0baec597d898ab855eb2a1f3

# Scroll Network
SCROLL_RPC_URL=https://rpc.scroll.io
SCROLL_SEPOLIA_RPC_URL=https://sepolia-rpc.scroll.io/

# Arbitrum Network
ARBITRUM_RPC_URL=https://arb1.arbitrum.io/rpc
ARBITRUM_SEPOLIA_RPC_URL=https://sepolia-rollup.arbitrum.io/rpc

# Block Explorer API Keys (opcional, para verificación)
SCROLLSCAN_API_KEY=
ARBISCAN_API_KEY=
